@charset "UTF-8";
body {
  overflow-x: hidden; }

/*
**********************************************************************
            HEADER COM LOGOTIPO E BOTÕES
******************************************************************
 */
header {
  width: 100%;
  margin: 0;
  height: 50vh;
  background-image: linear-gradient(to right, #F2F1F2, #B7BABD);
  height: 150px;
  display: flex; }
  header .header-logo {
    width: 50%;
    height: 100%; }
    header .header-logo img {
      width: 40%;
      position: relative;
      top: 50px;
      left: 40px; }
  header .header-buttons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    header .header-buttons button {
      background: #1863AD;
      width: 35%;
      padding: .5rem .1rem;
      border-radius: 15px;
      border: none; }
      header .header-buttons button a {
        color: white;
        text-decoration: none;
        font-size: 20px; }

/*
**********************************************************************
            GESTORA DE PARTICIPAÇÕES PRIMEIRO BLOCO
******************************************************************
 */
main {
  position: relative; }
  main img {
    width: 100%; }
  main div {
    width: 39%;
    background: #1A64AE;
    padding: 9px 18px;
    position: absolute;
    top: 30%;
    left: 60%;
    min-width: 241px;
    box-sizing: border-box;
    max-width: 641px; }
    main div h2 {
      color: white;
      font-family: arial;
      font-size: 30px;
      margin: 0; }
    main div p {
      color: white;
      font-size: 20px;
      font-family: arial; }

/*
**********************************************************************
    TERCIRO BLOCO SATIS CORPORATE DUAS COLUNAS IMAGEM E TEXTO
******************************************************************
 */
.about-us {
  position: relative; }
  .about-us img {
    width: 100%; }
  .about-us div {
    padding: 150px 0 0 0;
    width: 45%;
    height: 90%;
    margin-right: 20px;
    position: absolute;
    top: 8%;
    left: 50%; }
    .about-us div h2 {
      font-size: 3vw;
      color: #2369B3;
      font-family: arial;
      margin: 0; }
    .about-us div p {
      color: #2369B3;
      font-family: arial;
      font-size: 2.1vw; }

.intermezzo {
  position: relative; }
  .intermezzo img {
    width: 100%; }
  .intermezzo h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 70%;
    left: 3%;
    font-size: 45px; }

/*
**********************************************************************
          PARCEIROS E LINKS
******************************************************************
 */
.partners {
  background: #F2F1F2;
  height: 100%;
  width: 100%;
  margin: 0;
  height: 50vh;
  padding: 10px 10px;
  box-sizing: border-box;
  height: 100%; }
  .partners p {
    font-family: arial;
    color: #2369B3;
    margin: 10px 10px;
    text-align: left;
    font-size: 2.1vw; }
  .partners .link-partners {
    display: flex;
    flex-wrap: wrap; }
    .partners .link-partners a {
      margin: 3px 1%; }
      .partners .link-partners a img {
        width: 29VW;
        min-width: 155px; }

/*
**********************************************************************
        NOSSA VISÃO, NOSSA MISSÃO, NOSSOS VALORES
******************************************************************
 */
.overture-sale {
  display: flex;
  justify-content: space-around;
  padding: 26px;
  font-family: arial; }
  .overture-sale div {
    width: 30%;
    cursor: pointer;
    position: relative; }
    .overture-sale div img {
      width: 60%;
      margin: 20px 23% 0px;
      max-width: 250px; }
    .overture-sale div h3 {
      font-family: Arial, Helvetica, sans-serif;
      color: rgba(71, 71, 74, 0.5);
      text-align: center;
      font-size: 1rem;
      width: 40%;
      margin: 10px 31%; }
    .overture-sale div p {
      display: none; }
  .overture-sale div:hover p {
    display: block;
    text-align: center; }
  .overture-sale #nossaVisao:hover {
    background-image: linear-gradient(to bottom right, #002cdf, #0093df); }
    .overture-sale #nossaVisao:hover h3 {
      color: white; }
    .overture-sale #nossaVisao:hover p {
      color: white;
      padding: 0 5%; }
  .overture-sale #nossaMissao:hover {
    background-image: linear-gradient(to bottom right, #0070ca, #00cfca); }
    .overture-sale #nossaMissao:hover h3 {
      color: white; }
    .overture-sale #nossaMissao:hover p {
      color: white;
      padding: 0 5%;
      margin: 1%; }
  .overture-sale #nossosValores:hover {
    background-image: linear-gradient(to bottom right, #33bc65, #00ffca); }
    .overture-sale #nossosValores:hover h3 {
      color: white; }
    .overture-sale #nossosValores:hover p {
      color: white;
      padding: 2% 5%;
      margin: 1px; }

/*
**********************************************************************
                    FOOTER
******************************************************************
 */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #1A64AE;
  padding: 20px; }
  footer .footer-left {
    padding: 20% 2%; }
    footer .footer-left img {
      margin: 30px 0;
      width: 32vw; }
  footer .footer-right {
    padding: 1% 10%; }
    footer .footer-right img {
      width: 100%;
      position: relative;
      top: -2%;
      max-width: 398px; }
    footer .footer-right p {
      color: #2369B3;
      font-family: arial;
      font-size: 16px;
      line-height: 1.6;
      color: white;
      font-size: 1.8vw;
      line-height: 1.1; }

/*
**********************************************************************
            MOBILE/ HEADER COM LOGOTIPO E BOTÕES
******************************************************************
 */
@media (min-width: 1500px) {
  p, li, a {
    font-size: 27px !important; } }

@media only screen and (max-width: 850px) {
  header {
    width: 100%;
    margin: 0 0%;
    height: 100px; }
    header .header-logo img {
      width: 70%;
      max-width: 170px;
      position: relative;
      top: 37px;
      left: 14px; }
    header .header-buttons {
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      header .header-buttons button {
        background: #1863AD;
        width: 43%;
        padding: .5rem .1rem; }
        header .header-buttons button a {
          font-size: 10px; }
  /*
**********************************************************************
       MOBILE/  GESTORA DE PARTICIPAÇÕES PRIMEIRO BLOCO
******************************************************************
 */
  main div {
    width: 72%;
    padding: 0px 4px;
    position: absolute;
    top: 79%;
    left: 5%;
    box-sizing: border-box; }
    main div h2 {
      color: white;
      font-family: arial;
      margin: 0;
      font-size: 18px; }
    main div p {
      font-size: 15px; }
  /*
**********************************************************************
       MOBILE/  TERCEIRO BLOCO SATIS CORPORATE
******************************************************************
 */
  .about-us div {
    padding: 12px;
    width: 45%;
    height: 90%;
    float: right;
    margin-right: 20px; }
    .about-us div h2 {
      font-size: 18px;
      margin-bottom: 4px; }
    .about-us div p {
      color: #2369B3;
      font-family: arial;
      font-size: 2.1vw; }
  /*
**********************************************************************
       MOBILE/  INTEMEZZO & PARCEIROS
******************************************************************
 */
  .intermezzo {
    width: 100%;
    margin: 0 0%; }
    .intermezzo h1 {
      font-size: 18px; }
  /*
**********************************************************************
       MOBILE/  NOSSA VISÃO  NOSSA MISSÃO  NOSSOS VALORES
******************************************************************
 */
  .overture-sale {
    padding: 0px; }
    .overture-sale div {
      width: 30%; }
      .overture-sale div img {
        min-width: 100px; }
      .overture-sale div h3 {
        font-family: Arial, Helvetica, sans-serif;
        color: rgba(71, 71, 74, 0.5);
        text-align: center;
        font-size: .6rem;
        width: 30%;
        margin: 10px 20%; }
      .overture-sale div .nossa-visao p, .overture-sale div .nossa-missao p, .overture-sale div .nossos-valores p {
        font-size: 12px; }
  /*
**********************************************************************
       MOBILE/  FOOTER
******************************************************************
 */ }

@media only screen and (max-width: 600px) {
  footer {
    display: block; }
    footer .footer-left {
      padding: 10px;
      height: 100%; }
      footer .footer-left img {
        width: 100%;
        margin: 0 0; }
    footer .footer-right img {
      width: 100%; }
    footer .footer-right p {
      font-size: 3.5vw; }
  .partners p {
    font-size: 3.2vw;
    margin: 0px 1% 1% 1%; }
  .partners .link-partners a {
    margin: 2px auto; }
  main {
    position: relative;
    height: 100%; }
    main div {
      width: 72%;
      padding: 1%;
      position: absolute;
      top: 58%;
      left: 5%; }
      main div p {
        font-size: 3.2vw;
        margin: 1%; }
      main div h2 {
        font-size: 4vw;
        margin: 1%; }
  .about-us div {
    position: absolute;
    top: 2%;
    left: 40%;
    width: 58%;
    padding: 3px; }
    .about-us div h2 {
      font-size: 4vw; }
    .about-us div p {
      color: #2369B3;
      font-family: arial;
      font-size: 3.2vw;
      margin: 1px; }
  .overture-sale {
    display: flex;
    flex-direction: column; }
    .overture-sale div {
      width: 100%; }
      .overture-sale div margin
img {
        width: 90%;
        margin: 1px 5%; }
      .overture-sale div h3 {
        font-size: 6vw;
        margin: 10px auto;
        width: 90%;
        text-align: center; } }

/*
**********************************************************************
       MOBILE/  NOSSA VISÃO  NOSSA MISSÃO  NOSSOS VALORES
******************************************************************
 */
@media only screen and (min-width: 1500px) {
  .partners .link-partners span {
    max-height: 5.5rem; } }

@media only screen and (max-width: 1735px) {
  .overture-sale div.nossa-visao p {
    color: white;
    font-size: 16px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 34px 30px; }
  .overture-sale div.nossa-missao p {
    color: white;
    font-size: 16px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 21px 30px; }
  .overture-sale div.nossos-valores p {
    color: white;
    font-size: 16px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 21px 30px; } }

@media only screen and (max-width: 1235px) {
  .overture-sale div.nossa-visao p {
    color: white;
    font-size: 15px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif; }
  .overture-sale div.nossa-missao p {
    color: white;
    font-size: 14px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif; }
  .overture-sale div.nossos-valores p {
    color: white;
    font-size: 14px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif; }
  .intermezzo h1 {
    top: 60%; }
  .about-us div {
    padding: 80px 0 0 0; } }

@media only screen and (max-width: 1065px) {
  .overture-sale div.nossa-visao p {
    color: white;
    font-size: 13px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif; }
  .overture-sale div.nossa-missao p {
    color: white;
    font-size: 13px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif; }
  .intermezzo h1 {
    top: 40%; } }

@media only screen and (max-width: 978px) {
  .overture-sale div.nossa-visao p {
    color: white;
    font-size: 12px;
    line-height: 1.1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px 1px; }
  .overture-sale div.nossa-missao p {
    color: white;
    font-size: 12px;
    line-height: 1.1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px 1px; }
  .overture-sale div.nossos-valores p {
    color: white;
    font-size: 12px;
    line-height: 1.1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px 2px; }
  .intermezzo h1 {
    top: 40%; }
  .about-us div {
    padding: 0 0 0 0; } }

@media only screen and (max-width: 580px) {
  .intermezzo h1 {
    top: 50%;
    font-size: 15px; } }

@media only screen and (max-width: 490px) {
  .overture-sale div .nossa-visao p {
    padding: 0px;
    font-size: 11px; }
  .overture-sale div .nossa-missao p {
    padding: 0px;
    font-size: 11px; }
  .overture-sale div .nossos-valores p {
    padding: 0px;
    font-size: 11px; } }

@media only screen and (max-width: 400px) {
  .intermezzo h1 {
    font-size: 15px; }
  .partners .link-partners span img {
    left: 29%; } }
