@charset "UTF-8";
body {
  overflow-x: hidden; }

/*
**********************************************************************
            HEADER COM LOGOTIPO E BOTÕES
******************************************************************
 */
header {
  width: 100%;
  margin: 0;
  background-image: linear-gradient(to right, #F2F1F2, #B7BABD);
  height: 150px;
  display: flex; }
  header .header-logo {
    width: 50%;
    height: 100%; }
    header .header-logo img {
      width: 40%;
      position: relative;
      top: 50px;
      left: 40px; }
  header .header-buttons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    header .header-buttons button {
      background: #1863AD;
      width: 35%;
      padding: .5rem .1rem;
      border-radius: 15px;
      border: none; }
      header .header-buttons button a {
        color: white;
        text-decoration: none; }

/*
**********************************************************************
            GESTORA DE PARTICIPAÇÕES PRIMEIRO BLOCO
******************************************************************
 */
main {
  width: 100%;
  margin: 0;
  background-image: url("../../images/1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 52vh; }
  main div {
    width: 39%;
    height: 170px;
    background: #1A64AE;
    padding: 9px 18px;
    position: relative;
    top: 30%;
    left: 62%;
    min-width: 241px;
    box-sizing: border-box;
    max-height: 145px;
    max-width: 313px; }
    main div h2 {
      color: white;
      font-family: arial;
      margin: 0; }
    main div p {
      color: white;
      font-size: 12px;
      font-family: arial; }

/*
**********************************************************************
    TERCIRO BLOCO SATIS CORPORATE DUAS COLUNAS IMAGEM E TEXTO
******************************************************************
 */
.about-us {
  background-image: url("../../images/2_b.jpg");
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45vh;
  width: 100%;
  margin: 0; }
  .about-us div {
    padding: 12px;
    width: 45%;
    height: 90%;
    float: right;
    margin-right: 20px; }
  .about-us h2 {
    font-size: 20px;
    color: #2369B3;
    font-family: arial;
    margin: 0; }
  .about-us p {
    color: #2369B3;
    font-family: arial;
    font-size: 14px;
    line-height: 1.6; }

.intermezzo {
  background-image: url("../../images/3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
  margin: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .intermezzo h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 70%;
    left: 20%; }

/*
**********************************************************************
          PARCEIROS E LINKS
******************************************************************
 */
.partners {
  background: #F2F1F2;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 10px 10px;
  box-sizing: border-box; }
  .partners p {
    color: #2369B3;
    font-family: arial;
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 10px;
    text-align: left; }
  .partners .link-partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .partners .link-partners span {
      width: 30%;
      background-image: linear-gradient(to right, #F2F1F2, #B7BABD);
      min-width: 300px;
      margin: 10px auto; }
      .partners .link-partners span img {
        width: 50%;
        position: relative;
        top: 0;
        left: 20%; }

/*
**********************************************************************
        NOSSA VISÃO, NOSSA MISSÃO, NOSSOS VALORES
******************************************************************
 */
.overture-sale {
  background: white;
  height: 75%;
  width: 100%;
  margin: 0;
  padding: 10px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding: 0; }
  .overture-sale div {
    width: 30%;
    cursor: pointer;
    position: relative; }
    .overture-sale div img {
      width: 60%;
      margin: 20px 23% 0px; }
    .overture-sale div h3 {
      font-family: Arial, Helvetica, sans-serif;
      color: rgba(71, 71, 74, 0.5);
      text-align: center;
      font-size: 16px; }
    .overture-sale div .nossa-visao {
      display: none;
      position: absolute;
      top: 0px;
      left: -11px;
      background: #005AAA;
      height: 98%;
      padding: 5px 11px;
      width: 100%; }
      .overture-sale div .nossa-visao p {
        color: white;
        font-size: 15px;
        line-height: 1.5;
        font-family: Arial, Helvetica, sans-serif; }
    .overture-sale div.show-box {
      display: block; }
    .overture-sale div .nossa-missao {
      display: none;
      position: absolute;
      top: -1px;
      left: -11px;
      background: #005AAA;
      height: 96%;
      padding: 10px 11px;
      width: 100%; }
      .overture-sale div .nossa-missao p {
        color: white;
        font-size: 19px;
        line-height: 1.5;
        font-family: Arial, Helvetica, sans-serif; }
    .overture-sale div.show-box {
      display: block; }
    .overture-sale div .nossos-valores {
      display: none;
      position: absolute;
      top: 0px;
      left: -10px;
      background: #005AAA;
      height: 98%;
      padding: 5px 11px;
      width: 100%; }
      .overture-sale div .nossos-valores p {
        color: white;
        font-size: 19px;
        line-height: 1.5;
        font-family: Arial, Helvetica, sans-serif; }
    .overture-sale div.show-box {
      display: block; }

/*
**********************************************************************
                    FOOTER
******************************************************************
 */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #1A64AE;
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 10px 10px;
  box-sizing: border-box; }
  footer div {
    padding: 20px; }
    footer div img {
      width: 50%; }
    footer div p {
      color: #2369B3;
      font-family: arial;
      font-size: 16px;
      line-height: 1.6;
      color: white; }
  footer .footer-right img {
    width: 100%;
    position: relative;
    top: 25%;
    max-width: 430px; }
  footer .footer-right h3 {
    position: relative;
    top: 18%;
    left: 0%;
    color: white;
    font-family: arial;
    background: #3a73ad;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    max-width: 419px; }
  footer .footer-left img {
    margin: 30px 0; }
  footer .footer-left p {
    width: 80%; }

/*
**********************************************************************
            MOBILE/ HEADER COM LOGOTIPO E BOTÕES
******************************************************************
 */
@media only screen and (max-width: 850px) {
  header {
    width: 100%;
    margin: 0 0%;
    height: 100px; }
    header .header-logo img {
      width: 70%;
      max-width: 170px;
      position: relative;
      top: 37px;
      left: 14px; }
    header .header-buttons {
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      header .header-buttons button {
        background: #1863AD;
        width: 35%;
        padding: .5rem .1rem;
        font-size: 8px; }
  /*
**********************************************************************
       MOBILE/  GESTORA DE PARTICIPAÇÕES PRIMEIRO BLOCO
******************************************************************
 */
  main {
    width: 100%;
    margin: 0 0%; }
    main div {
      width: 90%;
      height: 79px;
      padding: 9px 18px;
      position: relative;
      top: 79%;
      left: 5%;
      box-sizing: border-box; }
      main div h2 {
        color: white;
        font-family: arial;
        margin: 0;
        font-size: 15px; }
      main div p {
        font-size: 10px; }
  /*
**********************************************************************
       MOBILE/  TERCEIRO BLOCO SATIS CORPORATE
******************************************************************
 */
  .about-us {
    width: 100%;
    margin: 0 0%; }
    .about-us div {
      padding: 12px;
      width: 45%;
      height: 90%;
      float: right;
      margin-right: 20px; }
    .about-us p {
      color: #2369B3;
      font-family: arial;
      font-size: 11px;
      line-height: 1.3; }
  /*
**********************************************************************
       MOBILE/  INTEMEZZO & PARCEIROS
******************************************************************
 */
  .intermezzo {
    width: 100%;
    margin: 0 0%; }
    .intermezzo h1 {
      font-size: 26px; }
  .partners {
    width: 100%;
    margin: 0 0%; }
    .partners p {
      font-size: 13px; }
  /*
**********************************************************************
       MOBILE/  NOSSA VISÃO  NOSSA MISSÃO  NOSSOS VALORES
******************************************************************
 */
  .overture-sale {
    width: 100%;
    margin: 0 0%;
    height: 300px; }
    .overture-sale div {
      width: 30%; }
      .overture-sale div img {
        width: 60%;
        margin-top: 30px; }
      .overture-sale div h3 {
        font-family: Arial, Helvetica, sans-serif;
        color: rgba(71, 71, 74, 0.5);
        text-align: center;
        font-size: 15px; }
      .overture-sale div .nossa-visao p, .overture-sale div .nossa-missao p, .overture-sale div .nossos-valores p {
        font-size: 12px; }
  /*
**********************************************************************
       MOBILE/  FOOTER
******************************************************************
 */
  footer {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 0%; }
    footer div {
      padding: 20px; }
      footer div img {
        width: 50%; }
      footer div p {
        color: #2369B3;
        font-family: arial;
        font-size: 16px;
        line-height: 1.6;
        color: white; }
    footer .footer-right img {
      width: 100%;
      position: relative;
      top: 37px; }
    footer .footer-right h3 {
      position: relative;
      top: 0;
      left: 0%;
      color: white;
      font-family: arial;
      background: #3a73ad;
      text-align: center;
      padding: 5px;
      font-size: 20px; }
    footer .footer-left {
      padding: 10px;
      height: 230px; }
      footer .footer-left img {
        width: 100%;
        margin: 0 0; }
      footer .footer-left p {
        width: 100%;
        font-size: 12px; } }

@media only screen and (max-width: 1080px) {
  .overture-sale div.nossa-visao p, .overture-sale div .nossa-missao p, .overture-sale div .nossos-valores p {
    font-size: 12px; } }

@media only screen and (max-width: 650px) {
  .overture-sale div.nossa-visao p, .overture-sale div .nossa-missao p, .overture-sale div .nossos-valores p {
    font-size: 10px; } }

@media only screen and (max-width: 450px) {
  .overture-sale div.nossa-visao p, .overture-sale div .nossa-missao p, .overture-sale div .nossos-valores p {
    font-size: 8px; } }
